<mat-toolbar class="custom-toolbar">
  <button mat-icon-button class="example-icon" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Favorite">
    <mat-icon>favorite</mat-icon>
    <span class="tooltip">Add to Favorites</span>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Share">
    <mat-icon>share</mat-icon>
    <span class="tooltip">Share</span>
  </button>
  <button mat-raised-button class="add-task-button" color="accent" (click)="openAddEditTaskForm()">Add Task</button> <!-- New button for adding task -->
</mat-toolbar>
